/*
this is where all of the websites styling is located
*/

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
	p {
  font-size: 25px;
  color: white;
}

h1{
    color: white;
}

img {
    display: block;
    margin: auto;
}

body {
    background-color: black;
}

div.centered {
    margin: auto;
    text-align: center;
}